@import url('https://fonts.googleapis.com/css2?family=Dr+Sugiyama&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Pompiere&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

:root {
  --bg-color: #fff;
  --footer-color: black;
  --jaune: #F9FFB4;
  --rouge: #F9C3C3;
  --vert: #C3F9C8;
  --bleu: #BFDBE4;
  --font-logo: 'Dr Sugiyama', cursive;
  --font-slogan: 'Pompiere', cursive;
  --font-text1: 'Josefin Sans', sans-serif;
  --font-text2: 'Source Sans Pro', sans-serif;
  --shadow: rgba(0, 0, 0, 0.20);
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

/* ---------------debut du heade----------------  */

/* --------------création de la nav-------------  */

.nav-link {
  display: flex;
  flex-direction: row;
  height: 12vh;
  justify-content: space-evenly;
  position: fixed;
  top: 0;
  z-index: 2;
  background-color: #ffffffa5;
  backdrop-filter: blur(5px);
}

.nav-link a {
  display: flex;
  width: 10%;
  justify-content: center;
  align-items: center;
  font-family: var(--font-text1);
  font-weight: 700;
  color: black;
  transition: all 0.4s;
  text-align: center;
  text-transform: uppercase;
}

.nav-link a img {
width: 85%;
}
.nav-link a:hover {
  color: var(--jaune);
  text-shadow: 2px 1px rgb(0, 0, 0);
  transform: scale(1.1);
}
.nav-toggler {
  position: fixed;
  z-index: 10;
  top: 40px;
  right: 40px;
  height: 50px;
  width: 50px;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}
.line {
  position: absolute;
  display: block;
  width: 70%;
  height: 4px;
  background-color: rgb(0, 0, 0);
  transition: transform 0.4s ease-out, opacity 0.1s ease-out;
}
.l1 {
  transform: translateY(-10px);
}
.l3 {
  transform: translateY(10px);
}
.nav-toggler.active .l1 {
  transform: translateY(0px) rotate(135deg);
  background-color: black;
}

.nav-toggler.active .l2 {
  opacity: 0;
}

.nav-toggler.active .l3 {
  transform: translateY(0px) rotate(-135deg);
  background-color: black;
}

.menu-burger {
  display: none;
  flex-direction: column;
  position: fixed;
  z-index: 9;
  background-color: #ffffff9e;
  backdrop-filter: blur(4px);
  width: 100vw;
  height: 100vh;
  justify-content: space-around;
  align-items: center;
  right: 0;
  transform: translateX(100%);
  transition: transform 0.4s cubic-bezier(0.73, 0.11, 0.67, 0.84);
}

header button.nav-toggler {
  display: none;
  transition: all 0.4s;
}
header button.nav-toggler:hover {
  transform: scale(1.2);
}
header a.btn-home-page img{
  display: none;
  width: 20vw;
  position: fixed;
  z-index: 8;
  transition: all 0.4s;
}
header a.btn-home-page img:hover{
  transform: scale(1.2);
}

@media (max-width: 960px) {
  .nav-link {
    display: none;
  }

  .menu-burger {
    display: flex;
  }
  header a.btn-home-page img{
    display: flex;
  }
  header button.nav-toggler {
    display: flex;
  }
}

.menu-burger.active {
  transform: translateX(0);
}

.menu-burger a {
  font-family: var(--font-text1);
  font-size: 2em;
  color: black;
}

/* fin de nav */

/* video du header  */
.video-header {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.video-header h1 {
  width: 50%;
  text-align: center;
  font-family: var(--font-slogan);
  font-size: 3em;
  color: #fff;
  text-shadow: 1px 1px rgba(255, 255, 255, 0.242);
}

.video-header p {
  font-family: var(--font-slogan);
  color: #fff;
  font-style: italic;
  font-size: 2em;
  margin: 40px;
}

.video-header video {
  width: 100%;
  height: 80vh;
  object-fit: cover;
  filter: saturate(150%);
  filter: brightness(110%);
  position: absolute;
  z-index: -1;
}
@media (max-width: 960px){
  .video-header {
    height: 50vh;
  }
  .video-header h1 {
    font-size: 1.8em;
  }
  .video-header p {
    font-size: 1.2em;
  }
  .video-header video {
    height: 50vh;
  }
}
/* fin de la vidéo  */

/* debut du main */
main.home-page{
  display: flex;
  flex-direction: column;
  margin: 0 10%;
}
.home-description{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.home-description h1{
  font-family: var(--font-slogan);
  font-size: 2em;
}
.home-description h2{
  font-family: var(--font-text1);
  margin: 40px;
  font-size: 3em;
}
.home-description .kombucha-logo{
  width: 350px;
  margin: 40px;
}
.home-description .kombucha-description{
  width: 100%;
  box-shadow: 5px 5px 5px var(--shadow);
  transition: all 0.4s;
}
.home-description .kombucha-description:hover{
  transform: scale(1.2);
}
.top-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10%;
}
.bot-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 10% 0;
}
.block-small {
  position: relative;
  overflow: hidden;
  width: 45%;
  height: 600px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: center;
  box-shadow: 5px 5px 5px var(--shadow);
}
.block-small::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: transform 1s ease;
  z-index: -1;
}
.block-small:hover::before{
  transform: scale(1.1);
}
.produits::before{
  background-image: url(/ola-project/media/photo-home-produit.jpg);
  background-size: cover;
  background-position: center;
}
.histoire::before{
  background-image: url(/ola-project/media/photo-home-monhistoire.jpg);
  background-size: cover;
  background-position: center;
}
.titre-block{
  display: flex;
  color: var(--jaune);
  font-family: var(--font-text1);
  text-transform: capitalize;
  font-size: 3.5em;
  text-align: center;
  justify-content: center;
  text-shadow: 2px 1px rgb(0, 0, 0);
  max-width: 60%;
}
.block-large {
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: center;
  text-shadow: black;
  color: var(--jaune);
  font-family: var(--font-text1);
  text-transform: uppercase;
  font-size: 1.5em;
  box-shadow: 7px 5px 5px var(--shadow);
  position: relative;
  overflow: hidden;
}
.block-large::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(media/photo-atelier1.jpg);
  background-size: cover;
  background-position: center;
  transition: transform 1s ease;
  z-index: -1;
}
.block-large:hover::before{
  transform: scale(1.1);
}
@media (max-width: 960px){
  .top-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .block-small {
    margin: 10% 0;
    width: 100%;
  }
  main.produits-page{
    display: flex;
    flex-direction: column;
}
}
/* ---- Fin de la home page ----*/


/*---------- Debut de la page produits ------------*/
main.produits-page{
    display: flex;
    flex-direction: row;
    margin: 5% 10%; 
    justify-content: space-between;
}
main.produits-page .block-small{
  box-shadow: none;
}
.kombucha-card{
  display: flex;
  justify-content: center;
  align-items: center;
}
.kombucha-card::before{
  background-image: url(/ola-project/media/img-main-kombucha.jpeg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat; 
}
.fekir-card{
  display: flex;
  justify-content: center;
  align-items: center;
}
.fekir-card::before{
  background-image: url(/ola-project/media/img-main-fekir.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;  
}

.produits-list-page{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 10%;
}
.nav-product{
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 20px 0;
}
.nav-product a{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: var(--font-text1);
  font-size: 1.5em;
  text-transform: uppercase;
  padding: 10px 20px;
  color: black;
  transition: all 0.4s;
}
.nav-product a:hover{
  background-color: var(--vert);
  font-weight: bold;
}
.list-product{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 83%;
}
.list-product a {
  margin: 20px;
}
.list-product a p{
  font-family: var(--font-text1);
  font-size: 4em;
  font-weight: bold;
  color: var(--jaune);
  width: 0%;
  display: flex;
  justify-content: center;
  text-shadow: 1px 2px 1px black;
}
.kombucha1{
  background-image: url(/ola-project/media/kombucha-blue.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.kombucha1::before{
  background-color: var(--bleu);
  opacity: 0.4;
}
.kombucha2{
  background-image: url(/ola-project/media/kombucha-green.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.kombucha2::before{
  background-color: var(--vert);
  opacity: 0.4;
}
.kombucha3{
  background-image: url(/ola-project/media/kombucha-red.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.kombucha3::before{
  background-color: var(--rouge);
  opacity: 0.4;
}
.kombucha4{
  background-image: url(/ola-project/media/kombucha-yellow.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.kombucha4::before{
  background-color: var(--jaune);
  opacity: 0.4;
}
.fekir1{
  background-image: url(/ola-project/media/fekir-blue.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.fekir1::before{
  background-color: var(--bleu);
  opacity: 0.4;
}
.fekir2{
  background-image: url(/ola-project/media/img-main-fekir.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.fekir2::before{
  background-color: var(--jaune);
  opacity: 0.4;
}
.fekir3{
  background-image: url(/ola-project/media/fekir-red.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.fekir3::before{
  background-color: var(--rouge);
  opacity: 0.4;
}
.fekir4{
  background-image: url(/ola-project/media/fekir-yellow.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.fekir4::before{
  background-color: var(--vert);
  opacity: 0.4;
}
@media (max-width: 960px){
  .top-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .block-small {
    margin: 10% 0;
    width: 100%;
  }
  main.produits-page{
    display: flex;
    flex-direction: column;
}
}
/*---------- Fin de la page produits ------------*/





















/* ----- Footer ----- */
footer {
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: #a7a7a7;
  text-decoration: none;
  list-style: none;
  padding: 3% 10%;
  font-family: var(--font-text2);
}
.block-footer{
  width: 18%;
  display: flex;
  flex-direction: column;

}
.block-footer h4{
  font-size: 1.4em;
  margin: 20px 0;
}
.block-footer a,
.block-footer p {
  font-size: 0.8em;
  color: #fff;
}
.fa-solid, 
.fa-brands{
  margin-right: 10px;
}